# GitHub Personal Access Token
GITHUB_TOKEN=your_github_token_here
NEXT_PUBLIC_GITHUB_USERNAME=bhandehemant2004-debug
NEXT_PUBLIC_LEETCODE_USERNAME=bhandehemant2004
NEXT_PUBLIC_CODEFORCES_USERNAME=bhandehemant2004
